.logo{
    height: 56px;
    display: flex;
    align-items: center;
    background-color: #212529;
}

.logo__name{
    color: white;
    margin-left: 150px;
    text-decoration: none;
    font-size: 25px;
}