.search__branches{
    width: 550px;
    margin-top: 40px;
    margin-left: 150px;
}
.search__button{
    width: 100px;
    height: 26px;
    margin-left: 20px;
    color: white;
    background-color: #0b5ed7;
    text-align: center;
    border: none;
    box-sizing: border-box;
    border-radius: 5px;
}
.search__button:hover{
    background-color: #0a58ca;
}