{% extends 'masterpage.html' %}

{%block title %}Super title{% endblock %}

{% block content %}
    <h1>Hello, world!</h1>
    <table>
        <tr>
            <td>file_quantity</td>
            <td>{{ file_quantity  }}</td>
        </tr>
        <tr>
            <td>file_size</td>
            <td>{{ file_size  }}</td>
        </tr>
        <tr>
            <td>dir_quantity</td>
            <td>{{ dir_quantity  }}</td>
        </tr>
        <tr>
            <td>average_folder_size</td>
            <td>{{ average_folder_size  }}</td>
        </tr>
        
    </table>

        <!-- end of block content -->
{% endblock %}